<plugin name='multi-tenant-spring-security' version='0.1' grailsVersion='1.3.5 &gt; *'>
  <author>Lim Chee Kin</author>
  <authorEmail>limcheekin@vobject.com</authorEmail>
  <title>Multi-Tenant Spring Security Integration</title>
  <description>Integrates the multi-tenant plugin (http://www.grails.org/plugin/multi-tenant) with spring-security-core plugin (http://www.grails.org/plugin/spring-security-core), so the current tenant can be determined from the authenticated principal.

Provides a custom CurrentTenant implementation that uses the security context to identify the current tenant.  This allows all users to login from 
one url instead of having to remember a special url to log in to.

This plugin is created based on the codes of multi-tenant-acegi plugin (http://www.grails.org/plugin/multi-tenant-acegi). All configurations are same with multi-tenant-acegi plugin except the tenant resolver property in Config.groovy.
Your tenant resolver property should look like this:
{code}
tenant {
    resolver.type = "springSecurity"
}
{code}
</description>
  <documentation>http://grails.org/plugin/multi-tenant-spring-security</documentation>
  <resources>
    <resource>BuildConfig</resource>
    <resource>Config</resource>
    <resource>DataSource</resource>
    <resource>UrlMappings</resource>
  </resources>
  <dependencies>
    <plugin name='springSecurityCore' version='1.0.1' />
    <plugin name='multiTenant' version='1.0.0' />
  </dependencies>
  <behavior />
</plugin>